* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  position: relative;
}

html, button, input, select, textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
  color: #141412;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #444;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  color: #89d700;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: Bitter, Georgia, serif;
  line-height: 1.3;
}

h1 {
  font-size: 48px;
  margin: 33px 0;
}

h2 {
  font-size: 30px;
  margin: 25px 0;
}

h3 {
  font-size: 22px;
  margin: 22px 0;
}

h4 {
  font-size: 20px;
  margin: 25px 0;
}

h5 {
  font-size: 18px;
  margin: 30px 0;
}

h6 {
  font-size: 16px;
  margin: 36px 0;
}

address {
  font-style: italic;
  margin: 0 0 24px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

p {
  margin: 0 0 24px;
}


small {
  font-size: smaller;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl {
  margin: 0 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 20px;
}

menu, ul {
  list-style-type: square;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

li > ul, li > ol {
  margin: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  min-width: inherit;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  padding-right: 2px;  /* Don't cut off the webkit search cancel button */
  width: 270px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

caption {
  font-size: 16px;
  margin: 20px 0;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

td {
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0;
}

del {
  color: #333;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

hr {
  background-size: 4px 4px;
  border: 0;
  height: 1px;
  margin: 0 0 24px;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  color: #89d700;
}

:-moz-placeholder {
  color: #89d700;
}

::-moz-placeholder {
  color: #89d700;
}

:-ms-input-placeholder {
  color: #89d700;
}

/**
Typography
*/
html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  color: #666666;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: #666666;
}

:-moz-placeholder {
  color: #666666;
}

::-moz-placeholder {
  color: #666666;
}

:-ms-input-placeholder {
  color: #666666;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, address, p, pre, blockquote, dl, dd, menu, ol, ul, table, caption, hr {
  margin: 0;
  color: #444444;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lobster Two", cursive;
  line-height: 1.3;
}

h1, .h1 {
  font-size: 48px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 22px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}

@media only screen and (min-width:768px) and (max-width:991px) {
  h1, .h1 {
    font-size: 36px;
  }

  h2, .h2 {
    font-size: 26px;
  }

  h3, .h3 {
    font-size: 20px;
  }

}

@media only screen and (max-width:767px) {
  h1, .h1 {
    font-size: 32px;
  }

  h2, .h2 {
    font-size: 24px;
  }

  h3, .h3 {
    font-size: 18px;
  }

}

h1, .h1, h2, .h2 {
  font-weight: 700;
}

h3, .h3, h4, .h4 {
  font-weight: 700;
}

h5, .h5, h6, .h6 {
  font-weight: 500;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}

/**
Helper Class
*/
.hidden {
  display: none;
}

.theme-color {
  color: #89d700;
}

.poss-relative {
  position: relative;
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";  /* 1 */
  display: table;  /* 2 */
}

.clearfix:after {
  clear: both;
}

ul {
  list-style: none;
  padding-left: 0;
}

a#scrollUp {
  background: #ffffff;
  color: #303030;
  bottom: 40px;
  right: 40px;
  border-radius: 100px;
  height: 45px;
  width: 45px;
  font-size: 25px;
  text-align: center;
  padding: 9px 0;
  -webkit-box-shadow: 0 0 15px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0 0 15px 0px rgba(50, 50, 50, 0.2);
}

a#scrollUp:hover {
  background: #89d700;
  color: #fff;
}


/* Background Color */
.bg--theme {
  background: #89d700;
}

.bg--light {
  background: #999999;
}

.bg--dark {
  background: #333333;
}

.bg--black {
  background: #000000;
}

.bg--white {
  background: #ffffff;
}

.bg__cat--1 {
  background: #0095e8;
}

.bg__cat--2 {
  background: #f6f6f6;
}

.bg__cat--3 {
  background: #03bae0;
}

.bg__cat--4 {
  background: #b1c642;
}

.bg__cat--5 {
  background: #ffc10d;
}

.bg__cat--6 {
  background: #ff5d52;
}

.bg__cat--7 {
  background: #68b9d8;
}

.bg__cat--8 {
  background: #292929;
}

.bg__cat--9 {
  background: #111111;
}

.bg__cat--10 {
  background: #fe5629;
}



/* Text specialized */
.text--italic {
  font-style: italic;
}

.text--normal {
  font-style: normal;
}

.text--underline {
  font-style: underline;
}

/* Font specialized */
.body--font {
  font-family: "Open Sans", sans-serif;
}

.heading--font {
  font-family: "Lobster Two", cursive;
}




/*===================
  Slide Activation
======================*/
.blog__thumb__active, .shop-active, .slide--active {
  position: relative;
}

.blog__thumb__active .dcare-arrow, .shop-active .dcare-arrow, .slide--active .dcare-arrow {
  background: #000 none repeat scroll 0 0;
  border: medium none;
  color: #bcbcbc;
  display: inline-block;
  font-size: 30px;
  height: 40px;
  margin-top: -17px;
  opacity: 0;
  outline: medium none;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 40px;
  z-index: 2;
}

.blog__thumb__active .dcare-arrow:hover, .shop-active .dcare-arrow:hover, .slide--active .dcare-arrow:hover {
  background: #89d700;
  color: #fff;
}

.blog__thumb__active .dcare-arrow i, .shop-active .dcare-arrow i, .slide--active .dcare-arrow i {
  line-height: 35px;
}

.blog__thumb__active .dcare-arrow:active, .blog__thumb__active .dcare-arrow:focus, .shop-active .dcare-arrow:active, .shop-active .dcare-arrow:focus, .slide--active .dcare-arrow:active, .slide--active .dcare-arrow:focus {
  outline: none;
}

.blog__thumb__active .dcare-arrow.dacre-prev, .shop-active .dcare-arrow.dacre-prev, .slide--active .dcare-arrow.dacre-prev {
  left: 0;
}

.blog__thumb__active .dcare-arrow.dcare-next, .shop-active .dcare-arrow.dcare-next, .slide--active .dcare-arrow.dcare-next {
  right: 0;
}

.blog__thumb__active:hover .dcare-arrow, .shop-active:hover .dcare-arrow, .slide--active:hover .dcare-arrow {
  opacity: 1;
  visibility: visible;
}

.activation__one [class*="col-"] {
  max-width: 100%;
}

.activation__one {
  position: relative;
}

.activation__one .junior__classes {
  margin-bottom: 18px;
}

.activation__one .owl-nav div {
  position: absolute;
  left: -76px;
  top: 50%;
}

.activation__one .owl-nav div.owl-next {
  left: auto;
  right: -76px;
}

.activation__one.owl-theme .owl-nav [class*="owl-"] {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: #dddddd;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  height: 45px;
  line-height: 37px;
  margin: 0;
  padding: 0;
  width: 45px;
}

.activation__one.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #89d700 none repeat scroll 0 0;
  color: #fff;
  text-decoration: none;
  border: 1px solid #89d700;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

.testimonial__slide--3.owl-theme .owl-nav [class*="owl-"] {
  background: #fff none repeat scroll 0 0;
  border-radius: 100%;
  color: #666666;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 37px;
  margin: 0;
  padding: 0;
  width: 40px;
}

.testimonial__slide--3 {
  position: relative;
}

.testimonial__slide--3 .owl-nav div {
  border-radius: 100%;
  height: 40px;
  left: -43px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.testimonial__slide--3 .owl-nav div.owl-next {
  left: auto;
  right: -43px;
}

.testimonial__slide--3.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #fe5629 none repeat scroll 0 0;
  color: #fff;
}

.arrival__product__activation.owl-theme .owl-dots .owl-dot span {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  background: transparent none repeat scroll 0 0;
  border: 2px solid #444444;
  border-radius: 30px;
  display: block;
  height: 10px;
  margin: 0 3px;
  -webkit-transition: 0.6s ease 0s;
  transition: 0.6s ease 0s;
  width: 10px;
  opacity: 1;
}

.arrival__product__activation.owl-theme .owl-dots .owl-dot.active span, .arrival__product__activation.owl-theme .owl-dots .owl-dot:hover span {
  background: #000 none repeat scroll 0 0;
  border: 2px solid transparent;
  height: 16px;
  width: 16px;
}

.arrival__product__activation {
  position: relative;
}

.arrival__product__activation.owl-theme .owl-dots {
  bottom: 44px;
  left: 50%;
  position: absolute;
}

.testimonial__slide--4 {
  position: relative;
}

.testimonial__slide--4 .owl-nav div {
  bottom: -59px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.testimonial__slide--4.owl-theme .owl-nav [class*="owl-"] {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 100%;
  color: #858585;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 30px;
}

.testimonial__slide--4.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #cccaca none repeat scroll 0 0;
  color: #fff;
}

.testimonial__slide--4 .owl-nav div.owl-next {
  left: calc(50% + 37px);
}

@media only screen and (min-width:992px) and (max-width:1199px) {
  .testimonial__slide--3 .owl-nav div {
    left: -20px;
  }

  .testimonial__slide--3 .owl-nav div.owl-next {
    right: -20px;
  }

  .arrival__product__activation.owl-theme .owl-dots {
    bottom: 11px;
  }

}

@media only screen and (min-width:768px) and (max-width:991px) {
  .activation__one .owl-nav div {
    left: -11px;
  }

  .activation__one .owl-nav div.owl-next {
    right: -11px;
  }

  .testimonial__slide--3 .owl-nav div {
    left: -20px;
  }

  .testimonial__slide--3 .owl-nav div.owl-next {
    right: -20px;
  }

}

@media only screen and (max-width:767px) {
  .activation__one .owl-nav div {
    left: 0px;
  }

  .activation__one .owl-nav div.owl-next {
    right: 0px;
  }

}

/*******************
Blocks Styles
********************/

/*===================
  Header Styles
=====================*/
.junior__header__top {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  height: 60px;
}

.junior__header__top .jun__header__top__left .top__address li i {
  color: #89d700;
  padding-right: 7px;
}

.junior__header__top .jun__header__top__left .top__address a {
  color: #666666;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.junior__header__top .jun__header__top__left .top__address a:hover {
  color: #89d700;
}

.junior__header__top .jun__header__top__right .accounting li a {
  color: #666666;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.junior__header__top .jun__header__top__right .accounting li a:hover {
  color: #89d700;
}

.top__address li + li {
  margin-left: 20px;
  padding-left: 20px;
  position: relative;
}

.top__address li + li::before {
  content: "/";
  font-size: 16px;
  left: 0;
  position: absolute;
}

.accounting li + li {
  margin-left: 14px;
  padding-left: 14px;
  position: relative;
}

.accounting li + li::before {
  content: "/";
  left: 0;
  position: absolute;
}

.header_top_line::before {
  background: rgba(0, 0, 0, 0) url(images/icons/line.jpg) repeat scroll center center;
  content: "";
  height: 5px;
  position: absolute;
  top: 0;
  width: 200%;
  opacity: 0.8;
  background-repeat: repeat;
  -webkit-animation: bgRunning 3s linear 0s infinite both;
  animation: bgRunning 3s linear 0s infinite both;
}

@-webkit-keyframes bgRunning {
  from {
    background-position: left center;
  }

  to {
    background-position: right center;
  }

}

@keyframes bgRunning {
  from {
    background-position: left center;
  }

  to {
    background-position: right center;
  }

}

.shopbox {
  height: 100px;
  position: relative;
}

.shopbox a {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.shopbox span {
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  position: absolute;
  right: -7px;
  top: 16px;
  z-index: 2;
}

.shopbox span::before {
  background: rgba(0, 0, 0, 0) url("images/icons/shop.png") no-repeat scroll 0 0;
  content: "";
  height: 34px;
  left: -8px;
  position: absolute;
  top: -4px;
  width: 34px;
  z-index: -1;
}

.shopbox span::before, .classes__icon img {
  -webkit-animation: rotate 3s linear 0s infinite normal;
  animation: rotate 3s linear 0s infinite normal;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

.mainmenu__wrapper.bg__cat--1.poss-relative.header_top_line:after {
  position: absolute;
  top: 100%;
  left: 0;
  background: url(images/icons/line-2.png) no-repeat scroll center top;
  content: "";
  height: 17px;
  width: 100%;
}

.sticky__header.is-sticky {
  -webkit-animation: 0.4s ease-in-out 0s normal both 1 running fadeInDown;
  animation: 0.4s ease-in-out 0s normal both 1 running fadeInDown;
  background: #fff none repeat scroll 0 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out 0s;
  transition: -webkit-box-shadow 0.5s ease-in-out 0s;
  transition: box-shadow 0.5s ease-in-out 0s;
  transition: box-shadow 0.5s ease-in-out 0s, -webkit-box-shadow 0.5s ease-in-out 0s;
  width: 100%;
  z-index: 99;
}

.header--one .sticky__header.is-sticky {
  background: #0095e8 none repeat scroll 0 0;
}

.header--2 .junior__header__top {
  height: 80px;
}

.header--2 .junior__header__top .jun__header__top__left .top__address a {
  color: #ffffff;
}

.header--2 .top__address li span {
  color: #fff;
}

.header--2 .top__address li + li::before {
  display: none;
}

.header--2 .junior__header__top .jun__header__top__right .accounting li a {
  color: #fff;
}

.header--2 .accounting li + li::before {
  display: none;
}

.header--2 .mainmenu__wrapper {
  padding-top: 8px;
}

.header--2 .shopbox a {
  background: #f6f6f6 none repeat scroll 0 0;
  border-radius: 10px;
  color: #89d700;
  height: 35px;
  line-height: 35px;
  width: 35px;
  font-size: 18px;
}

.header--3 .mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu > li > a {
  color: #666666;
}

.header--3 .junior__header__top {
  height: 130px;
}

.header--3 .row.menu__separator {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  height: 130px;
}

.header--3 .jun__header__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header--3 .jun__header__top__right p {
  color: #444444;
  font-size: 14px;
}

.header--3 .jun__header__top__right p span {
  font-size: 16px;
  font-weight: 700;
}

.header--3 .jun__header__top__right {
  position: relative;
}

.header--3 .jun__header__top__right::before {
  background: #dddddd none repeat scroll 0 0;
  content: "";
  height: 40px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 1px;
}

.header--3 .mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: -15px;
}

.header--3 .mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu > li:first-child {
  margin-left: 0;
}

.header--3 .mainmenu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: -15px;
}

.header--3 .accounting {
  margin-right: 60px;
}

.header--3 .mainmenu__wrapper {
  padding-top: 0;
}

.header--3 .accounting li + li::before {
  display: none;
}

.header--3 .shopbox a {
  background: transparent none repeat scroll 0 0;
  color: #89d700;
  font-size: 18px;
  height: auto;
  line-height: inherit;
  text-align: center;
  width: auto;
}

.header--3 .mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu {
  height: 90px;
}

.header--3 .shopbox {
  height: 90px;
}

.header__variation--4 .mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu {
  height: 80px;
}

.header__variation--4 .shopbox {
  height: 80px;
}

.header--3.header__variation--4 .mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu > li > a {
  color: #fff;
}

.header__variation--4 .accounting li a {
  color: #fff;
}

.header__variation--4 .shopbox span {
  right: -8px;
  top: 8px;
}

.header--3.header__variation--4 .shopbox a {
  background: transparent none repeat scroll 0 0;
  color: #fff;
  font-size: 18px;
  height: auto;
  line-height: inherit;
  text-align: center;
  width: auto;
}

.header__variation--4 .sticky__header.is-sticky {
  background: #000;
}

.header--5 .jun__header__top__left p {
  color: #666666;
  font-family: Open Sans;
  font-weight: 700;
}

.header--5 .jun__header__top__left p span {
  color: #fe5629;
  font-weight: 400;
}

.header--5 .junior__header__top {
  border-bottom: 1px solid #eeeeee;
}

.header--5 .accounting li + li::before {
  display: none;
}

.header--5 .mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu > li > a {
  color: #444444;
}

.header--5 .mainmenu__wrapper {
  padding-top: 11px;
}

.header--5 .shopbox a {
  background: #444444 none repeat scroll 0 0;
  height: 37px;
  line-height: 37px;
  width: 37px;
}

.header--5 .shopbox a i {
  color: #fff;
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .header--2 a.minicart-trigger, .header--3 a.minicart-trigger, .header--5 a.minicart-trigger {
    color: #707070;
  }

  .header--2 .mean-container a.meanmenu-reveal span, .header--3 .mean-container a.meanmenu-reveal span, .header--5 .mean-container a.meanmenu-reveal span {
    background: #707070;
  }

  .header--3 .mainmenu__wrapper, .header--5 .mainmenu__wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
  }

}

@media only screen and (max-width:767px) {
  .header--2 a.minicart-trigger, .header--3 a.minicart-trigger, .header--5 a.minicart-trigger {
    color: #707070;
  }

  .header--2 .mean-container a.meanmenu-reveal span, .header--3 .mean-container a.meanmenu-reveal span, .header--5 .mean-container a.meanmenu-reveal span {
    background: #707070;
  }

  .header--2 .top__address li + li {
    margin-left: 0;
    padding-left: 0;
  }

  .header--3 .mainmenu__wrapper, .header--5 .mainmenu__wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
  }

}

@media only screen and (max-width:575px) {
  .header--3 .mainmenu__wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
  }

}

@media only screen and (max-width:420px) {
  .junior__header__top, .header--2 .junior__header__top {
    height: auto;
    padding: 20px 0;
  }

  .top__address li + li::before, .header--3 .jun__header__top__right::before {
    display: none;
  }

  .top__address li + li {
    margin-bottom: 7px;
    margin-left: 0;
    margin-top: 7px;
    padding-left: 0;
    position: relative;
  }

  .header--3 .jun__header__top__right {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header--3 .jun__header__top__right p {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .header--3 .jun__header__top__right p + p {
    margin-top: 8px;
  }

}

/*===============================
  Navigation Styles
=================================*/
.mainmenu__wrapper {
  position: relative;
  padding-top: 13px;
  z-index: 9;
}

.mainmenu__wrapper .logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

.mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu > li {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}

.mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu > li > a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu > li > a:hover {
  color: #89d700;
}

.header--2 .mainmenu__wrapper .mainmenu__wrap .mainmenu__nav .mainmenu > li > a {
  color: #444444;
}

@media only screen and (min-width:992px) {
  .mainmenu li.drop {
    position: relative;
  }

  .mainmenu li.drop > ul.dropdown__menu {
    opacity: 0;
    top: 100%;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    visibility: hidden;
    background: #fff none repeat scroll 0 0;
    position: absolute;
    left: 0;
    z-index: 99;
    min-width: 210px;
  }

  .mainmenu li.drop:hover > ul.dropdown__menu {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    visibility: visible;
  }

  .mainmenu li.drop > ul.dropdown__menu li {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .mainmenu li.drop:hover > ul.dropdown__menu > li {
    opacity: 1;
  }

  .mainmenu li.drop > ul.dropdown__menu a {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    padding: 6px 20px 6px 8px;
    text-transform: capitalize;
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    color: #969696;
    display: block;
  }

  .mainmenu li.drop:hover > ul.dropdown__menu > li:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
  }

  .mainmenu li.drop:hover > ul.dropdown__menu > li:hover > a {
    color: #000;
    padding-left: 15px;
    background: #ddd none repeat scroll 0 0;
  }

}

@media only screen and (max-width:991px) {
  a.minicart-trigger {
    position: absolute;
    right: 57px;
    z-index: 9991;
    top: 21px;
    font-size: 27px;
    color: #fff;
  }

  a.minicart-trigger:hover {
    color: #89d700;
  }

  .mainmenu__wrapper .logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    position: absolute;
    left: 0;
    top: -15px;
    z-index: 9991;
  }

}

