<div class="wrapper">
    <div class="inner">
        <h3 class="font-weight-bold text-center dark-grey-text">Влезте с вашия акаунт</h3>
        <div class="container my-5 py-5 z-depth-2">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <form (submit)="onLogin()" >
                        <div></div>
                        <div class="form-group">
                            <label for="username">Име</label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="creds.username"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Парола</label>
                            <input type="password" class="form-control" name="password"  [(ngModel)]="creds.password"/>
                        </div>
            
                        <div class="form-group">
                            <input type="submit" value="Влез" class="btn btn-success" />
                            <a routerLink="/" class="btn btn-primary ml-2">Отказ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <h2>Log in</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form ngNativeValidate #loginForm="ngForm">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" [(ngModel)]="userLogin.email"
                           placeholder="Email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" [(ngModel)]="userLogin.password"
                           placeholder="Password" class="form-control" required />
                </div>
                <div class="form-group">
                    <input [disabled]="!loginForm.valid" type="submit" class="btn btn-default"
                           value="Log in" (click)="login()" />
                </div>
                <div class="form-group">
                    <p>
                        <a routerLink="/register">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            <div>
                <p>
                    There are no external authentication services configured.
                    See <a href="https://go.microsoft.com/fwlink/?LinkID=532715" target="_blank">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        </section>
    </div>
</div> -->
