<div class="wrapper" id="wrapper">
  <!-- Header -->
  <header id="header" class="jnr__header header--one clearfix">
    <!-- Start Header Top Area -->
    <div class="junior__header__top">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-lg-6 col-sm-12">
            <div class="jun__header__top__left">
              <ul class="top__address d-flex justify-content-start align-items-center flex-wrap flex-lg-nowrap flex-md-nowrap">
                <li><i class="fa fa-envelope"></i><a href="#">junior@mail.com</a></li>
                <li><i class="fa fa-phone"></i><span>Contact Now :</span><a href="#">+003457289</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-5 col-lg-6 col-sm-12">
            <div class="jun__header__top__right">
              <ul class="accounting d-flex justify-content-l  g-end justify-content-md-end justify-content-start align-items-center">
                <li><a class="login-trigger" href="#">Login</a></li>
                <li><a class="accountbox-trigger" href="#">Register</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Start Mainmenu Area -->
    <div class="mainmenu__wrapper bg__cat--1 poss-relative header_top_line sticky__header">
      <div class="container">
        <div class="row d-none d-lg-flex">
          <div class="col-sm-4 col-md-6 col-lg-2 order-1 order-lg-1">
            <div class="logo">
              <a routerLink="">
                <img src="images/logo/junior.png" alt="logo images">
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-2 col-lg-9 order-3 order-lg-2">
            <div class="mainmenu__wrap">
              <nav class="mainmenu__nav">
                <ul class="mainmenu">
                  <li class="drop"><a routerLink="">Home</a></li>
                  <li class="drop"><a routerLink="fetch-data">Fetch Data</a> </li>
                  <li class="drop"><a routerLink="counter">Counter</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- Mobile Menu -->
        <div class="mobile-menu d-block d-lg-none">
          <div class="logo">
            <a href="index.html"><img src="images/logo/junior.png" alt="logo"></a>
          </div>
          <a class="minicart-trigger" href="#">
            <i class="fa fa-shopping-basket"></i>
          </a>
        </div>
        <!-- Mobile Menu -->
      </div>
    </div>
    <!-- End Mainmenu Area -->
  </header>
  <!-- //Header -->
