<!-- <div class="wrapper">
    <div class="inner">
      <app-upload></app-upload>
    </div>  
    <div class="inner">
      <ul>
        <li *ngFor="let document of documents[0]">{{document.name}}</li>
      </ul>
    </div>
</div> -->


<div class="wrapper">
  <div class="inner">
    <h3 class="font-weight-bold text-center dark-grey-text">Документи</h3>
    <div class="text-center ml-4">
      <app-upload></app-upload>
    </div>

    <ul>
      <li *ngFor="let document of documents[0]">
        <div class="container my-5 py-5 z-depth-2">
          <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
            <p class="font-weight-bold text-center dark-grey-text" (click)="downloadFile($event, document)">{{document.name}}</p>
          </section>
        </div>
      </li>
    </ul>
    
  </div>
    
    
  
</div>